* {
    box-sizing: border-box;
}

body {
    background-color: ;
}

.main-nav {
    border: 1px solid red;
    width: 100%;
    background: black;
    min-height: 30px;
    padding: 10px;
    position: fixed;
    text-align: center;
}
.nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}
.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
    padding: 5px 10px 10px 10px;
}
.nav a {
   transition: all .5s;
}
.nav a:hover {
   color: white
}

header {
    border: 1px solid blue;
    text-align: center;
    /* background: url('images/Chamonix.jpg') no-repeat top center; */
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
}
header img {
    text-align: center;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
}